* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: BlexMono Nerd Font Mono;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 3px 10px;
  margin: 6px 3px;
  border-radius: 6px;
  background-color: #89b4fa;
  color: #1e1e2e;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #fab387;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 3px 10px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory {
  background-color: #fab387;
}
#battery {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #1e1e2e;
  color: #cdd6f4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#backlight {
  background-color: #fab387;
}

#pulseaudio {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: BlexMono Nerd Font Mono;
  background-color: #181825;
  color: #cdd6f4;
}

#custom-power {
  background-color: #f2cdcd;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #131822;
}

tooltip label {
padding: 5px;
background-color: #131822;
}
